.Aside{
  min-height: 100vh;
  background-color: #8757df;
  width: 250px;
  color: #c3abef;
  flex-shrink: 0;
}

.Aside-fixed{
  position: fixed;
  padding-left: 45px;
}

.Aside-header{
  height: 100px;
}

.Aside-title{
  margin: 0;
  padding-top: 35px;
}

.Aside-profilePreview{
  margin-bottom: 23px;
}

.profilePreview-img{
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.profilePreview-name{
  margin-top: 12px;
  float: right;
  margin-bottom: 0;
  color: white;
}

.Aside-links{
  display: flex;
  flex-direction: column;
}

.Aside-link{
  line-height: 45px;
  text-decoration: none;
  color: #c3abef;
}

.activeAsideLink{
  color: white;
}

