.Aside{
  min-height: 100vh;
  background-color: #8757df;
  padding-left: 50px;
  position: fixed;
}

.Aside-fixed{
  position: sticky;
}

.Aside-header{
  height: 100px;
}

.Aside-title{
  margin: 0;
  padding-top: 35px;
}

.Aside-links{
  display: flex;
  flex-direction: column;
}

.Aside-link{
  font-size: 24px;
  background-color: rgba(6, 85, 215, 0.5);
  color: black;
  line-height: 45px;
  text-decoration: none;
}

.activeAsideLink{
  font-weight: bold;
}

