.Messages-dialogs{
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-right: 5%;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 20px;
}

.dialogs-item{
  text-decoration: none;
  color: black;
  width: 100px;
  margin: auto;
  font-size: 20px;
}

.dialogs-item.active{
  font-weight: bold;
  color: #8757df;
}

.dialogs-item-img{
  height: 20px;
}