.App{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50px auto auto;
  grid-template-areas: 
    "header header header aside"
    "main   main   .      aside"
    "footer footer footer aside";
}

.Header{
  grid-area: header;
}

.Aside{
  grid-area: aside;
}

.Main{
  grid-area: main;
}
